.modal-dialog{
    position: relative;
    background-color: green;
}
.modal-content
{
    width: 130%;
    position: absolute;
    
} 
.modal-body form div
{
    margin-top: 12px;
    margin-bottom: 12px;
    /* box-shadow: 3px 3px rgba(0, 0, 0, 0.308) 4px; */
}
.modal-body form select
{
    display: inline-block;
    width: auto;
}
.predict-result{
    width: 130%;
    position: absolute;
    border: 2px solid red;
    padding: 20px;
 
}
.signal{
    width: 20vw;
    height: 5vh;
}
