.dropdown-btn
{
    position: relative;
    border: 2px solid white;
    
    border-radius: 50%;
    margin: 5px 15px;
    /* padding: 11px 21px; */
    
}
.dropdown-btn img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.dropdown-content
{
    display:none;
    position: absolute;
    right:-10px;
    top: 90%;
    /* display: flex; */
    flex-direction: column;
    background-color: rgba(62, 236, 27, 0.869);
    padding: 7px 8px;
    margin: 5px ;
    width: 12vw;
    border-radius: 8px;
}
.dropdown-btn:hover .dropdown-content
{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.869);
    padding: 7px 8px;
    margin: 5px ;
}
.dropdown-content .item 
{
    border-bottom:1px solid black;
    width: 100%;
    padding: 5px;
    margin: 5px 3px;
    text-align: center;
}
.dropdown-content .item:hover
{
    /* background-color:rgba(25, 96, 135, 0.813) ; */
    color: #ffffff !important;
    transition: 0.5s ease-in-out;
}
.dropdown-content .item NavLink
{
    color: black;
    font-size: medium;
    font-weight: bold;
    width: 100% ;
    text-decoration: none;
}